header {
    background-color: #FFFFFF;
    height: 100px;
    width:  100%;
    margin-top: -8px;
    box-shadow: 2px 2px 5px #000000;
}

body {
    background-image: url("../images/background.png");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    height: 100px;
}

#player-container, #detail-container{
    border: 1px solid;
    min-height: 700px;
    border-color: white;
}

.player{
    cursor: pointer;
    color: white;
    border-bottom: 2px solid white;
    margin: 10px;
    padding: 5px;
}

.player:last-child {
    border-bottom: none;
}

#detail-container{
    display: inline-block;
}

.loguito {
    margin-top: 15px;
    margin-left: 15px;
    height: 100px;
    width: 100px;
}

.bar-progress{
    margin-left: 150px;
    margin-top: -50px;
    height: 100px;
    width: 700px;
}

progress{
    border: 2px;
    border-radius: 15px;
}

.detail {
    background-color: #0000CD;
    background: rgba(0, 0, 255, 0.3);
}
